/* -页面样式--------------------------------------------- */

* {
    padding: 0px;
    margin: 0px;
    font-family: "微软雅黑";
}

#index {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    min-width: 850px;
    height: 61px;
}

#btn-index {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 40px;
    bottom: 40px;
    z-index: 999;
    background-color: rgb(57, 61, 73);
}

#internal-0:target,
#internal-1:target,
#internal-2:target,
#internal-3:target,
#internal-5:target,
#internal-6:target,
#internal-7:target {
    padding-top: 70px;
}

#team {
    float: right;
}

#dataTime1 {
    float: left;
    margin: 10px 25px 5px;
    color: rgb(160, 160, 160);
}

#dataTime2 {
    float: left;
    margin: 10px 25px 5px;
    color: rgb(160, 160, 160);
}

.img {
    position: relative;
}

.img_text {
    position: absolute;
    left: 40px;
    top: 40px;
    font-size: 50px;
    color: #F2F2F2;
}

.img_text1 {
    position: absolute;
    left: 100px;
    top: 140px;
    font-size: 30px;
    color: #F2F2F2;
}

.left {
    text-align: left;
}

.all {
    padding: 5% 17% 5%;
    text-align: center;
    overflow: hidden;
}

.layui-card-body {
    overflow: hidden;
}

.layui-card-body-item-A {
    margin: 20px;
    font-size: 20px;
    font-weight: 600;
}

.layui-card-body-item-text {
    margin: 3px;
    font-size: 12px;
    font-weight: 300;
}

.layui-card-body-item-size {
    margin: 7px;
    font-size: 217%;
}

.layui-card-body-item-color1 {
    color: rgb(255, 106, 87);
}

.layui-card-body-item-color3 {
    color: rgb(232, 109, 72);
}

.layui-card-body-item-color11 {
    color: rgb(236, 146, 23);
}

.layui-card-body-item-color9 {
    color: rgb(232, 49, 50);
}

.layui-card-body-item-color13 {
    color: rgb(16, 174, 181);
}

.layui-card-body-item-color15 {
    color: rgb(77, 80, 84);
}

.layui-card-body-item {
    width: 33.333%;
    height: 150px;
    float: left;
    border: 5px solid rgb(242, 242, 242);
    box-sizing: border-box;
}

.layui-card-body-item1 {
    width: 25%;
    height: 150px;
    float: left;
    border: 5px solid rgb(242, 242, 242);
    box-sizing: border-box;
}

.layui-card-header {
    font-size: 20px;
}

.layui-colla-title {
    font-size: 18px;
}

.layui-colla-content-explain {
    font-size: 35px;
    margin: 10px;
    color: rgb(248, 128, 112);
}

.layui-colla-content-date {
    font-size: 10px;
    margin: 5px 15px;
    color: rgb(177, 177, 177);
}

.layui-colla-content-desc {
    font-size: 17px;
    font-weight: 400;
    margin: 15px 37% 0px 10px;
    color: rgb(22, 22, 22);
}

.layui-colla-content-author {
    font-size: 14px;
    margin: 15px 0px 5px 10px;
    color: rgb(177, 177, 177);
    font-style: italic;
}

#myEcharts,
#myEcharts1 {
    width: 800px;
    height: 688px;
    border: solid 1px rgb(57, 61, 73);
    margin: 15px;
    margin-left: 0px;
}

body {
    width: 100%;
    background-color: #000;
    background-image: radial-gradient(circle at top right, rgba(121, 68, 154, 0.13), transparent), radial-gradient(circle at 20% 80%, rgba(41, 196, 255, 0.13), transparent);
}

canvas {
    position: fixed;
    width: 100%;
}